{% extends 'base.html' %}

{% block content %}

<div class="grid lg:grid-cols-4 gap-10">

    <!-- MAIN LESSON AREA -->
    <div class="lg:col-span-3">

         
    {% if user == course.teacher %}

<a href="/mark-attendance/{{ lesson.id }}/"
class="bg-yellow-600 text-white px-4 py-2 rounded mb-16">
Mark Attendance
</a>

{% endif %}

        <h1 class="text-3xl font-bold mb-6 mt-5">
            {{ lesson.title }}
        </h1>

        {% if lesson.video %}
        <div class="mb-6">
            <video controls class="w-full rounded-lg shadow">
                <source src="{{ lesson.video.url }}" type="video/mp4">
            </video>
        </div>
        {% endif %}

        <div class="bg-white shadow rounded-lg p-6">
            {{ lesson.content }}
        </div>

        <div class="mt-6">
            <a href="/course/{{ course.id }}/"
               class="text-blue-600 hover:underline">
                ← Back to Course
            </a>
        </div>

    </div>


    <!-- SIDEBAR -->
    <div class="bg-white shadow rounded-lg p-6 h-fit">


        <h2 class="font-semibold mb-4">
            Course Content
        </h2>

        <div class="space-y-3 max-h-[500px] overflow-y-auto">


            {% for l in course.lesson_set.all %}

            <a href="/lesson/{{ l.id }}/"
               class="block p-2 rounded hover:bg-gray-100
               {% if l.id == lesson.id %}bg-blue-100{% endif %}">

                {{ forloop.counter }}. {{ l.title }}

            </a>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}